<footer class="footer">
  <div>
    <h3>Authors</h3>
    <p>Written by Jonas Bonér—with help (roughly in order of contribution level) from: Roland Kuhn, Ben Christensen,
      Peter Vlugter, Josh Long, Sergey Bykov, Ben Hindman, Vaughn Vernon, Clement Escoffier, James Roper, Michael
      Behrendt, Kresten Krab Thorup, Colin Breck, Allard Buijze, Derek Collison, Viktor Klang, Ben Hale, Steve Gury,
      Tyler Jewell, James Ward, Stephan Ewen, and Ryland Degnan.</p>
  </div>
  <hr>
  <div>
    <p class="companion">
      <a class="r-logo white" href="//www.reactiveprinciples.org">The <span>Reactive</span> Principles</a> <em>a
        companion to</em> <a class="r-logo white" href="https://www.reactivemanifesto.org/">The
        <span>Reactive</span> Manifesto</a>
    </p>
  </div>
  <div class="legal-footer">
    <a href="https://www.reactivemanifesto.org/privacy" target="_blank">Privacy Poilcy</a>
    |
    <a id="ot-sdk-btn" class="ot-sdk-show-settings">Cookie Settings</a>
  </div>
</footer>