<div class="rp-branding">
  <h3 class="r-logo main-logo">The <span>Reactive</span> Principles</h3>
  <div class="search-bar">
    <input id="search-input" type="text" placeholder="Search The Reactive Principles">
  </div>
</div>