{{#with page.navigation}}
<div class="nav-panel-menu is-active" data-panel="menu">
  <nav class="nav-menu">
    <span class="section-title grey">The&nbsp;<span>Reactive</span>&nbsp;Principles</span>
    
    {{#with @root.page.componentVersion}}
    <h3 class="title"><a href="{{{relativize ./url}}}">{{./title}}</a></h3>
    {{/with}}
    {{> nav-tree navigation=this}}
    <a class="download-as-pdf" href="{{{siteRootPath}}}/_attachments/the-reactive-principles-and-patterns.pdf"
    download="the-reactive-principles-and-patterns.pdf">
    DOWNLOAD AS PDF
    <img src="_/img/download-blue.svg" />
  </a>
    <hr>
    <a class="section-title" href="https://www.reactivemanifesto.org/">The&nbsp;<span>Reactive</span>&nbsp;Manifesto <img src="_/img/new-tab.svg" alt="new tab" width="14"></a>
  </nav>
</div>
{{/with}}