.doc .sidebarblock.float {
  float: right;
  width: 33%;
  margin-left: 2rem;
}

.download-pdf {
  display: none;
  padding-right: 0.75rem;
  color: var(--color-rm-primary);
}

body .download-as-pdf {
  font-weight: 500;
  font-size: 0.75rem;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  margin: 1rem 0;
  font-family: var(--heading-font-family);
  display: block;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-rm-primary);
  border: 1px solid var(--color-rm-primary);
}

.download-as-pdf:hover {
  text-decoration: none;
  background-color: #445de9;
  color: white;
}

.download-as-pdf:hover svg {
  fill: white;
}

body {
  padding-top: 0;
}

.rp-branding {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 3rem;
  margin: 4rem 0 2rem 0;
  font-size: 1rem;
  padding: 0 1rem;
}

.rp-branding .search-bar {
  padding-right: 0;
}

.rp-branding .search-bar #search-input {
  border-radius: 100px;
  width: 400px;
  border: 1px solid var(--color-gray-10);
  padding: 0.5rem 2rem 0.5rem 1rem;
  background-image: url(http://www.reactiveprinciples.org/_/img/search-grey.svg);
  background-repeat: no-repeat;
  background-position: center right 8px;
}

.r-logo {
  margin: 0;
  font-weight: 200;
  font-family: var(--manifesto-heading-font-family);
  color: var(--color-rm-grey);
}

.r-logo span {
  border-bottom: 2px solid #445de9;
}

.r-logo.white span {
  border-bottom: 2px solid #fff;
}

.r-logo.main-logo {
  font-size: 3rem;
  font-weight: 100;
}

.home-page-intro > .content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.home-page-intro-text {
  width: 100%;
}

.home-page-intro-text .content {
  border: none !important;
  padding: 0 !important;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.home-page-intro-authors {
  width: 100%;
  margin-top: 0 !important;
  background-color: #f5f5f5 !important;
}

@media screen and (min-width: 1024px) {
  .home-page-intro > .content {
    flex-direction: row;
    gap: 2rem;
  }

  .home-page-intro-text {
    width: 60%;
  }

  .home-page-intro-authors {
    width: 40%;
  }
}

.companion {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
  padding: 2rem 0;
}

.companion .r-logo {
  font-size: 1.25rem;
}

.companion .r-logo:hover {
  color: #fff;
  text-decoration: none;
}

.companion em {
  opacity: 0.7;
}

.nav-menu .section-title {
  display: block;
  color: #445de9;
  font-size: var(--body-font-size);
}

.nav-menu .section-title.grey {
  display: block;
  color: #777;
  font-weight: var(--body-font-weight-bold);
  font-size: 1rem;
}

.nav-menu hr {
  opacity: 0.5;
  margin: 1rem 0;
}

.navbar-brand .navbar-item.r-logo {
  font-size: calc(25 / var(--rem-base) * 1rem);
}

header.header {
  left: 0;
  position: relative;
  top: 0;
  background-color: white;
  z-index: var(--z-index-navbar);
  display: flex;
  justify-content: center;
  width: 100%;
}

.navbar {
  position: relative;
  z-index: var(--z-index-navbar);
  width: 100%;
  max-width: 1440px;
  font-family: var(--heading-font-family);
}

.toc.sidebar .toc-menu {
  margin-top: 4rem;
  top: calc(var(--navbar-height) + 1rem);
  padding-top: 0;
}

.toc.sidebar .toc-menu h3 {
  height: auto;
}

@media screen and (min-width: 1024px) {
  .body {
    display: flex;
    justify-content: center;
  }

  main {
    max-width: 1120px;
  }

  .nav {
    top: calc(var(--navbar-height) + 1rem);
  }

  .nav .panels {
    margin-top: 4rem;
    border-right: 1px solid var(--panel-border-color);
  }

  .nav-panel-menu {
    padding-top: 0;
  }

  .doc > h1.page:first-child {
    margin-top: 3.75rem;
  }

  .download-pdf {
    display: block;
  }
}

@media screen and (min-width: 1440px) {
  header.header {
    padding: 1rem;
  }

  .navbar {
    min-width: 1440px;
    border-radius: 100px;
    padding: 0 1rem;
  }

  .navbar-item.search {
    padding-right: 0;
  }
}
