footer.footer {
  background-color: var(--footer-background);
  color: var(--footer-font-color);
  font-size: calc(15 / var(--rem-base) * 1rem);
  line-height: var(--footer-line-height);
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer p.trademark {
  margin: 0.5rem 0;
  font-size: calc(12 / var(--rem-base) * 1rem);
}

.footer p.link-list {
  margin: 0.5rem 0;
  font-size: calc(12 / var(--rem-base) * 1rem);
}

.footer a {
  color: var(--footer-link-font-color);
}

.footer a:hover {
  color: var(--footer-link-font-color-hover);
}

.footer p.trademark a {
  text-decoration: underline;
}

.footer .optanon-toggle-display {
  cursor: pointer;
}

.footer .legal {
  max-width: 780px;
}

.footer .brand a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer .footer-logo {
  height: 42px;
}
