.search-bar {
  flex-grow: 1;
  justify-content: flex-end;
  display: none;
  position: relative;
}

@media screen and (min-width: 450px) {
  .search-bar {
    display: flex;
  }
}

@media screen and (min-width: 1024px) {
  .navbar-brand {
    flex-grow: 1;
  }

  .navbar-menu {
    flex-grow: 0;
  }
}

#search-input {
  color: #333;
  font-family: inherit;
  font-size: 0.95rem;
  width: 150px;
  border: none;
  border-radius: 0.125em;
  line-height: 1.5;
  padding: 0.188em 0.313em;
}

@media screen and (min-width: 769px) {
  #search-input {
    width: 250px;
  }
}

@media screen and (min-width: 1024px) {
  #search-input {
    width: 250px;
  }
}

.search-result-dropdown-menu {
  position: absolute;
  z-index: 100;
  display: block;
  left: -50px;
  top: 100%;
  border-radius: 4px;
  margin: 6px 0 0;
  padding: 0;
  text-align: left;
  height: auto;
  background: transparent;
  border: none;
  width: 500px;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.2), 0 2px 3px 0 rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 768px) {
  .search-result-dropdown-menu {
    left: 0;
    width: 100%;
  }

  .navbar-brand .navbar-item + .navbar-item {
    padding-left: 0;
    padding-right: 0;
  }
}

.search-result-dataset {
  position: relative;
  border: 1px solid #d9d9d9;
  background: #fff;
  border-radius: 4px;
  overflow: auto;
  padding: 0 8px 8px;
  max-height: calc(100vh - 5.25rem);
  color: #333;
}

.search-result-highlight {
  color: var(--color-rm-primary);
  background: rgba(178, 47, 172, 0.1);
  padding: 0.1em 0.05em;
}

.search-result-item {
  display: flex;
  font-size: 1rem;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.search-result-document-title {
  width: 33%;
  border-right: 1px solid #ddd;
  color: #a4a7ae;
  font-size: 0.8rem;
  padding: 0.25rem 0.5rem 0.25rem 0;
  text-align: right;
  position: relative;
  word-wrap: break-word;
}

.search-result-document-hit {
  flex: 1;
  font-size: 0.75em;
  color: #02060c;
  font-weight: 700;
}

.search-result-document-hit > a {
  color: inherit;
  display: block;
  padding: 0.5rem 0 0.5rem 1rem;
  margin-bottom: 0.25rem;
}

.search-result-document-hit > a:hover {
  background: rgba(178, 47, 172, 0.1);
}
