footer.footer {
  background-color: var(--footer-background);
  color: var(--footer-font-color);
  font-size: calc(15 / var(--rem-base) * 1rem);
  line-height: var(--footer-line-height);
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 4rem;
}

footer.footer > div {
  max-width: 700px;
  text-align: center;
}

footer.footer > hr {
  width: 100%;
  max-width: 300px;
  opacity: 0.5;
  margin: 2rem 0 0 0;
}

.footer p.trademark {
  margin: 0.5rem 0;
  font-size: calc(12 / var(--rem-base) * 1rem);
}

.footer p.link-list {
  margin: 0.5rem 0;
  font-size: calc(12 / var(--rem-base) * 1rem);
}

.footer a {
  color: var(--footer-link-font-color);
}

.footer a:hover {
  color: var(--footer-link-font-color-hover);
}

.footer p.trademark a {
  text-decoration: underline;
}

.footer .legal {
  max-width: 780px;
}

.footer .legal-footer {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  line-height: 1.2;
  font-size: 11px;
}

.footer .legal-footer a,
.footer .legal-footer #ot-sdk-btn.ot-sdk-show-settings {
  cursor: pointer;
  border: none !important;
  color: var(--footer-link-font-color) !important;
  display: inline-block !important;
  padding: 0 !important;
  margin: 0 !important;
  line-height: 1.2;
  font-size: 11px;
  text-transform: uppercase;
}

.footer .legal-footer a:hover,
.footer .legal-footer #ot-sdk-btn.ot-sdk-show-settings:hover {
  background-color: transparent;
}

.footer .brand a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer .footer-logo {
  height: 42px;
}
